@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#slider {
    animation-name: show;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 500px;
    width: 700px;
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
